
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'system-ui', sans-serif;


}

html,
body {
  overflow: hidden;
  background-color: rgb(28, 24, 36);
}

main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  /* background-color: red; */
}
.header {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  padding-left: 2vw;
  display: flex;
  align-items: center;
  /* background: black; */
  z-index: 10;
  mix-blend-mode: difference;
}

.msnry-container {
  position: relative;
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 20px 10px;
}

.msnry-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.msnry-filter {
  position: relative;
  overflow: hidden;
  opacity: 0;

}


@keyframes msnryShow {
  0% {
    opacity: 0;
    /* transform: translateY(3px); */
  }
  100% {
    opacity: 1;
    /* transform: translateY(0); */
  }
}


img {
  width: 100%;
  filter: grayscale(50%);

}



.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #161616;

  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.5s;
}

.post:hover .overlay {
  opacity: 0.95;
  cursor: pointer;
}
.checkbox-wrapper-15 {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.checkbox-wrapper-15 .cbx {
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  /* background: rgb(233, 233, 233); */

  /* background: #2d2d2d; */
  padding: 4px 0 4px 2px;
  border-radius: 4px;
  /* border: 1px solid rgb(85, 79, 96); */
  display: flex;
  align-items: center;
  gap: 5px;


}
.checkbox-wrapper-15 .cbx span {
  display: inline-block;
  vertical-align: baseline;
  color:#B9B8C3;
  text-transform: capitalize;
  font-size: 14px;

}
.checkbox-wrapper-15 .cbx span:first-child {
  position: relative;
  width:18px;
  height: 18px;
  border-radius: 20px;
  transform: scale(1);
  vertical-align: bottom;
  border: 1px solid rgb(85, 79, 96);
  transition: all 0.2s ease;
  /* box-shadow: inset 10px 10px 88px -20px rgba(59, 59, 59, 0.75); */
  background: rgb(28, 24, 36);
}
.checkbox-wrapper-15 .cbx span:first-child svg {
  position: absolute;
  z-index: 1;
  top: 3px;
  left: 3px;
  fill: none;
  stroke: white;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  width: 10px;
  height: 10px;
 
}
.checkbox-wrapper-15 .cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #506EEC;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 30px;
  transition-delay: 0.2s;
}
.checkbox-wrapper-15 .cbx span:last-child {
  margin-left: 1px;
  /* text-transform: uppercase; */
  font-size: 12px;
}

.checkbox-wrapper-15 .cbx:hover span:first-child {
  border-color: #3c53c7;
}

.checkbox-wrapper-15 .inp-cbx:checked + .cbx span:first-child {
  border-color: #3c53c7;
  background: #3c53c7;
  animation: check-15 0.6s ease;
}
.checkbox-wrapper-15 .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.checkbox-wrapper-15 .inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(2.2);
  opacity: 0;
  transition: all 0.6s ease;
}
.checkbox-wrapper-15 .inp-cbx:checked + .cbx span:last-child {
  color: #f6f6f6;

}
.checkbox-wrapper-15 .inp-cbx:checked + .cbx span:last-child:after {
  transform: scaleX(1);
  transition: all 0.3s ease;
}

@keyframes check-15 {
  50% {
    transform: scale(1.2);
  }
}

.checkbox-wrapper-15 .cbx:hover {
  border-color: #3c53c7;
}

.checkbox-wrapper-15 .inp-cbx:checked + .cbx{
  border-color: #3c53c7;
}

.checkbox-wrapper-15 .cbx {
  transform: translateY(-2px);
  transition: all 0.2s cubic-bezier( 0.79, 0.33, 0.34, 0.86 );
  box-shadow: 10px 10px 88px -20px rgba(209, 209, 209, 0.75);
 
}

.checkbox-wrapper-15 .cbx:hover {
  cursor: pointer;
  background-color: #2d2d2d;
  transition: all 0.2s ease-in;
}

.checkbox-wrapper-15 input:active + .cbx {
  transform: translateY(0);
  transition: all 0.2s cubic-bezier( 0.79, 0.33, 0.34, 0.86 );
}


.msnry-grid {
  display: grid;
  grid-template-columns: 250px 1fr;
}

.masonary-filters {
  padding: 0 0 0 10px;
}

.masonary-filters h3 {
  color: #f6f6f6;

}



.msnry-filter-count {
  /* background: #3c53c7; */
  padding: 4px;
  border-radius: 13px;
  color: #8e8e8e !important;
  line-height: 1;
  width: 20px;
  height: 20px;
  text-align: center;
  position: absolute;
  right: 0;
}


.masonary-filters hr {
  border: 1px solid #282828;
  margin: 10px 0;
}

.masonary-filters-wrapper {
  border: 1px solid #3b3b3b;
  margin-top: 20px;
  padding: 10px;
  border-radius: 4px;
  background: #1d1d1d;
  position: sticky;
  top: 20px;
}

.msnry-filter-header {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}